<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script type="text/javascript" src="vue.global.js"></script>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<div id="hello">
			<input v-model="message" />
			<br>
			<span :title="hint">
				Message: {{message}} (hover on to see hint)
			</span>
			<br>
			<button @click="reverseMessage">Reverse</button>
			<p v-if="visible">hahaha</p>
		</div>
		
		<div id="counter">
			Counter: {{counter}}
		</div>
		
		<br>
		
		<div id="todo">
			<ol>
				<todo-comp v-for="todo of todos" :data="todo" :key="todo.id"></todo-comp>
			</ol>
		</div>
	</body>
	<script type="text/javascript" src="app.js"></script>
</html>
